#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

clean: debian/control

debian/control: debian/control.in debian/pgversions
	pg_buildext updatecontrol

.PHONY: debian/control

# main packaging script based on dh7 syntax
%:
	dh $@ 

override_dh_auto_build:
	+pg_buildext build $(CURDIR)/ext build-%v
	$(MAKE) -C client all
	$(MAKE) -C kafka all

override_dh_auto_clean: debian/control
	+pg_buildext clean $(CURDIR)/ext build-%v
	$(MAKE) -C client clean
	$(MAKE) -C kafka clean

# suppress dh_auto_test since:
#  a) we're probably only building packages from a branch that's already had
#     CI run on it, and if we're not (e.g. hotfix) then we probably have a good
#     reason
#  b) don't want to set up the test suite to run inside the package build
#     environment, since that means Ruby inside Docker inside chroot inside a
#     container...
override_dh_auto_test:

override_dh_install:
	+pg_buildext install $(CURDIR)/ext build-%v postgresql-%v-bottledwater
	mv ext/debian/postgresql-*-bottledwater debian/
	install -D kafka/bottledwater debian/bottledwater/usr/bin/bottledwater
